*{
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 67px;
    background-image: url("pics/header.png");
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, ul, p, div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

img {
    border-radius: 8px;
    height: 500px;
    width: 500px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    background-image: url("pics/footer.jpg");
    background-attachment: fixed;
    background-size: contain;
}
